body {
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper_header {
    width: 1440px;
    margin: 0 auto;
    margin-top: -20px;
}
.header {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    
}
#logo {
    text-align: left;
    height: 150px;
    line-height: 150px;
    padding: 0px;
    
}

.wrapper_gnb, .wrapper_slide, .wrapper_content {
    width: 100%;

}
.wrapper_gnb {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    margin-top: -50px;
}


.gnb {
    width: 1440px;
    float: right;
}
.menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

.menu>li {
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: pink;
    
}


ul.menu li a {
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: black;
}

ul.sub{
    position: absolute;
    z-index: 99;
    list-style-type: none;
}
ul.sub>li {
    width: 180px;
    height: 50px;
    background-color: black;
    margin-left: -40px;
    
}

.wrapper_aboutus_gnb {
    width: 1440px;
    height: 40px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    border-bottom: 1px solid black;
}

.aboutus_gnb {
    width: 1440px;
    margin: 0 auto;
}
.aboutus_menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    float: left;
}
.aboutus_menu li {
    display: inline-block;
    width: 360px;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
}
.aboutus_menu li a {
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    color: black;
    margin: 0 auto;
}
.wrapper_ceomessage {
    width: 1440px;
    margin: 0 auto;
}
.ceomessage_word {
    width: 720px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    float: left;
    text-align: center;
}
.ceomessage_img {
    width: 720px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}

.wrapper_project {
    width: 1440px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    text-align: center;
}
.wrapper_project h2 {
    text-align: center;
    margin: 0 atuo;
}
.project_gnb {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.project_menu {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    float: center;
}
.project_menu li {
    display: inline-block;
    line-height: 40px;
    width: 200px;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.project_menu li a {
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.banner_recruit {
    margin: 0 auto;
    width: 100%;
}
.banner_recruit img {
    margin: 0 auto;
    width: 100%;
}
.wrapper_recruit {
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}



.slideshow {
    width: 100%;
    position: relative;
}
.myslide img {
    width: 100%;
}

a.prev, a.next {
    position: absolute;
    top: 50%;
    padding: 25px;
    text-decoration: none;
    margin-top: -25px;
    border-radius: 0 3px 3px 0;
    font-size: 80px;
    color: white;
}
a.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
@keyframes fade {
    from { opacity: .1}
    to { opacity: 1}
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.dots {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 200px;
    margin: auto;
    left: 0px;
    right: 0px;
}
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: white;
    margin: 0px 5px;
    border-radius: 15px;
    cursor: pointer;
}
span.dot.active {
    background-color: #cccccc;
}
.content {
    width: 1440px;
    margin: 0 auto;
    overflow: auto;
}
.content h1 {
    text-align: center;
}
.item {
    width: 480px;
    float: left;
}
figure {
    position: relative;
}
figure img {
    width: 400px;
    height: 400px;
    padding: 0;
}

.item_title {
    width: 90%;
    font-size: 20px;
    padding: 3px;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
}
.item_price {
    width: 90%;
    font: 20px;
    padding: 3px;
    font-weight: bold;
}
.imgover img:last-child {display: none;}
.imgover:hover img:first-child {display: none;}
.imgover:hover img:last-child {display: inline-block;}


.wrapper_footer {
    width: 100%;
    background-color: #333333;
}
.footer {
    width: 1440px;
    margin: 0 auto;
    height: 400px;
}
.footer_left {
    width: 1440px;
    float: center;
    margin: 0 auto;
}
.footer_left img {
    text-align: center;
    margin: 0 auto;
}
.footer_center {
    width: 1440px;
    float: right;
    padding: 30px 5px 5px 5px;
    text-align: right;
}
.footer_center h5 {
    color: white;
    font-size: 25%;
    margin-bottom: 8px;
}
.footer_center p {
    color: white;
    font-size: 25%;
}

.footer_right {
    width: 350px;
    float: right;
    text-align: right;
}
.footer_right img {
    width: 35px;
    height: 35px;
}
